mat-card {
  width: 100%;
  max-width: 1200px;
}

mat-card-title {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #9a1616;
}

.table th {
  background-color: #e6e3e3;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #e3f2fa;
}

.title-container {
  display: flex;
  align-items: center;
}

.btn {
  margin-right: 8px;
}


.btn-newCll{
  margin-bottom: 5px;
}

.btn-outline-danger {
  border: 2px solid #d32f2f;
   background-color: #e57373;
  color: white;
}

.btn-outline-danger:hover {
  background-color:  #d32f2f;
  color: #ffffff;
}

.btn-outline-normal{
  border: 2px solid #0f8be3;
  background-color: #64b5f6;
  color: white;
}

.btn-outline-normal:hover {
  background-color: #0f8be3;
  color: #f1efef;
}


.btn-search{
  border: 3px solid #009688;
  background-color: #009688;
  color: white;
  margin-left: 10px; /* Espacement à gauche du bouton */
  margin-bottom: 10px;
}

.btn-search:hover {
  background-color: #009688;
  color: #f1efef;
}


/* CSS pour le champ input */
input[type="text"] {
  width: 250px; /* Définir la largeur */
  padding: 5px; /* Espacement interne */
  border: 3px solid #009688; /* Couleur de la bordure */
  border-radius:  9px; /* Bordure arrondie */
  outline: none; /* Supprimer le contour par défaut */
  font-size: 19px; /* Taille de la police */
  transition: border-color 0.9ms ; /* Animation de transition */
} 