mat-card {
  width: 100%;
  max-width: 1200px;
}

mat-card-title {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #9a1616;
}

.table th {
  background-color: #e6e3e3;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #e3f2fa;
}

.title-container {
  display: flex;
  align-items: center;
}

.btn {
  margin-right: 10px;
}


.btn-newCll{
  margin-top: 5px;
  margin-bottom: 40px;
}

.btn-outline-danger {
  border: 2px solid #d32f2f;
   background-color: #e57373;
  color: white;
}

.btn-outline-danger:hover {
  background-color:  #d32f2f;
  color: #ffffff;
}

.btn-outline-normal{
  border: 2px solid #0f8be3;
  background-color: #64b5f6;
  color: white;
}

.btn-outline-normal:hover {
  background-color: #0f8be3;
  color: #f1efef;
}

#search-bar{
  display: flex;
  background-color: #eeeefa;
  border-radius: 40px;
  margin-bottom:0px;
  width: 400px;
  box-shadow: 3px 3px 10px -3px gray;
  overflow: hidden;
}


.search-bar:hover {
  border: none;
  margin-bottom:3px;
  padding: 3px;
  border-radius: 40px;
  background-color: rgb(252, 228, 252);
  width: 30px;
  cursor: pointer;
}

/* CSS pour le champ input */
input[type="text"] {
  background-color: rgb(252, 228, 252);
  all: unset;
  flex-grow: 1;
  padding: 10px 20px;
  width: 250px; /* Définir la largeur */
  padding: 5px; /* Espacement interne */
  border-radius:  9px; /* Bordure arrondie */
  outline: none; /* Supprimer le contour par défaut */
  font-size: 19px; /* Taille de la police */
  transition: border-color 0.9ms ; /* Animation de transition */
}
