<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div>
          <h4>List Groups</h4>

          <button mat-raised-button  (click)="newGroups()" class="btn btn-newGrp">New Group</button>
        </div>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content >
      <table class="table">
        <thead>
        <tr>
          <th>collaborateurs</th> <th>terminal</th> <th>fonction</th>  <th>codeGroupe</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let groupess of groups">
          <td>{{groupess.collaborateurs}}</td>
          <td>{{groupess.terminal}}</td>
          <td>{{groupess.fonction}}</td>
          <td>{{groupess.codeGroupe}}</td>
          <td>
            <button (click)="deleteGroups(groupess.collaborateurs)" mat-raised-button   class="btn btn-outline-danger">
              Delete
            </button>

          </td>
        </tr>
        </tbody>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>


