.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #9a1616;
}

.table th {
  background-color: #e6e3e3;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #e3f2fa;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container {
  display: flex;
  align-items: center;
}

.btn {
  margin-right: 8px;
}

.btn-newREp {
  margin-bottom: 0px;
}

.btn-outline-danger {
  border: 2px solid #d32f2f;
   background-color: #e57373;
  color: white;
}

.btn-outline-danger:hover {
  background-color: #d32f2f;
  color: #ffffff;
}